<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Formulaire</title>
</head>

<body>
    <h2>Formulaire</h2><br/>
    <form method="POST" action="enregistre">
        <fieldset>
            <legend>Simple Formulaire</legend>
            <div>
                <label>Nom</label><br/><input type="text" name="nom" required/>
            </div>
            <div>
                <label>Prenom</label><br/><input type="text" name="prenom" required/>
            </div>
            <div>
                <label>Age</label><br/><input type="number" name="age" required/>
            </div>
            <div>
                <input type="submit" value="Soumetre votre formulaire" required/>
            </div>
        </fieldset>
    </form>
</body>

</html>